<form action="/author" method="post">
  <label for="">
    First Name:
    <input name="first_name" type="text" />
  </label>

  <label for="">
    last Name:
    <input name="last_name" type="text" />
  </label>
  <label for="">
    Birth Date:
    <input name="birth_date" type="date" />
  </label>
  <button type="submit">Submit</button>
</form>
