<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>manga details</title>
  </head>
  <body>
    <%-include('navbar', {links: links}) %>
    <div>
      <h1><%= manga.title %></h1>
      <p><%= manga.release_date %></p>
    </div>
    <a href="/manga/<%= manga.id %>/edit">Edit manga</a>
  </body>
</html>
