<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%-include('navbar', {links: links}) %>
    <ul>
      <% manga.forEach(manga => { %>
      <li><%= manga.title %></li>
      <% }) %>
    </ul>
  </body>
</html>
